body{
    background: rgb(199, 134, 156);
  }
  
  main{
    height: 600px;
  }
  
  header{
    background: rgb(145, 79, 101);
    height: 200px;
    position: relative;
  }
  
  h1{
    color:  rgb(228, 153, 14);
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: oblique;
    font-size: 50px;
    text-align: center;
    top: 10px;
  }
  
  header img {
  width: 100px;
  top: 10px;
  left: 30px;
  position: relative;
  }
  
  nav{
  position: absolute;
  top: calc(20px - 5px);
  right : 15px;
  left: 140px;
  text-align: 20px;
  
  }
  
  nav ul{
    list-style-type: none;
  }
  
  
  nav li{
    float: left;
    top: 5px;
    line-height: 5px;
    padding: 30px;
    background-color: rgb(219, 166, 184);
    text-decoration: none;
  }
  
  
  .item-box{
  width : 600px;
  margin-left: 10px;
  display: inline-block;
  }
  
  .item-box p {
  padding: 5px;
    }
  
  
  .item-box img {
    width: 850px;  
    height: 500px;
  }
  
  footer{
    background:rgb(145, 79, 101);
    border-color: rgb(228, 153, 14);
    border-style: solid; 
  }
  
  footer a {
    text-decoration: none;
    color: darkgoldenrod;
  }